@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;1,700&display=swap");

:root {
  --main-color: rgb(187, 112, 42);
  --black: black;
  --bg: rgb(48, 46, 46);
  --dark-grey: rgb(27, 26, 26);
  --border: 0.1rem solid rgba(255, 255, 255, 0.3);
  --white: rgb(255, 255, 255);
  --wheat: rgb(233, 203, 148);
  --light-grey: #ccc;
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-size: 50%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: var(--wheat);
  border-radius: 5rem;
}

body {
  background: var(--bg);
}

section {
  padding: 9rem 7%;
}

.heading {
  text-align: center;
  color: var(--wheat);
  text-transform: uppercase;
  padding-bottom: 3rem;
  padding-top: 2rem;
  font-size: 4rem;
}

.heading span {
  color: var(--white);
  text-transform: uppercase;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 2rem 2rem;
  border-radius: 2rem;
  font-size: 1.7rem;
  color: var(--wheat);
  background: var(--main-color);
  cursor: pointer;
}

.btn:hover {
  letter-spacing: 0.2rem;
}

.header {
  background: var(--bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 7%;
  border-bottom: var(--border);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header .logo img {
  height: 6rem;
  align-items: center;
}

.header .logo h3 {
  font-size: 1.5rem;
  color: var(--wheat);
  text-shadow: 0.2rem 0.2rem black;
}

.header .logo h3:hover {
  color: var(--main-color);
}

.header .navbar a {
  margin: 0 1rem;
  font-size: 1.8rem;
  color: var(--wheat);
}

.header .navbar a:hover {
  color: var(--main-color);
  border-color: 0.1rem solid var(--main-color);
  padding-bottom: 0.5rem;
}

.header .icons div {
  color: var(--wheat);
  cursor: pointer;
  font-size: 2rem;
  margin-left: 2rem;
}

.header .icons div:hover {
  color: var(--main-color);
}

#menu-btn {
  display: none;
}

.header .search-form {
  position: absolute;
  top: 115%;
  right: 2%;
  background: var(--wheat);
  border-radius: 2rem;
  width: 30rem;
  height: 5rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
}

.header .search-form.active {
  transform: scaleY(1);
}

.header .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  border-radius: 2rem;
  color: var(--black);
  padding: 2rem;
  text-transform: none;
}

.header .search-form label {
  cursor: pointer;
  font-size: 2.2rem;
  margin-right: 1.5rem;
  color: var(--black);
}

.header .search-form label:hover {
  color: var(--main-color);
}

.header .cart-items-container {
  position: absolute;
  top: 100%;
  right: -100%;
  height: calc(100vh - 9.5rem);
  width: 35rem;
  background: var(--white);
  padding: 0 1.5rem;
}

.header .cart-items-container.active {
  right: 0;
}

.header .cart-items-container .cart-item {
  position: relative;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.header .cart-items-container .cart-item .fa-times {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  cursor: pointer;
  color: var(--black);
}

.header .cart-items-container .cart-item .fa-times:hover {
  color: var(--main-color);
}

.header .cart-items-container .cart-item img {
  height: 9rem;
}

.header .cart-items-container .cart-item .content h3 {
  font-size: 2rem;
  color: var(--black);
  padding-bottom: 0.5rem;
}

.header .cart-items-container .cart-item .content h3:hover {
  color: var(--main-color);
}

.header .cart-items-container .cart-item .content .price {
  font-size: 1.5rem;
  color: var(--main-color);
}

.header .cart-items-container .btn {
  width: 100%;
  text-align: center;
}

.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(../images/index2.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.home .content {
  max-width: 60rem;
}

.home .content h3 {
  font-size: 6rem;
  text-transform: uppercase;
  color: var(--white);
  text-shadow: 0.8rem 0.1rem black;
}

.home .content p {
  font-size: 2rem;
  font-weight: lighter;
  line-height: 1.8;
  padding: 1rem 0;
  color: var(--wheat);
}

.about .row {
  display: flex;
  align-items: center;
  background: var(--black);
  flex-wrap: wrap;
}

.about .row .image {
  flex: 1.5 2 45rem;
}

.about .row .image img {
  width: 100%;
}
.about .row .content {
  flex: 1 1 45rem;
  padding: 2rem;
}

.about .row .content h3 {
  font-size: 3rem;
  color: var(--white);
}

.about .row .content p {
  font-size: 1.6rem;
  color: var(--light-grey);
  padding: 1rem 0;
  line-height: 1.8;
}

.menu .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(32rem, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(45rem, 1fr));
  gap: 1rem;
}

.menu .box-container .box {
  border-radius: 1rem;
  padding: 3rem;
  text-align: center;
}

.menu .box-container .box img {
  width: 100%;
  border-radius: 1rem;
  margin-bottom: 3rem;
}

.menu .box-container .box:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.menu .box-container .box img:hover {
  border: 0.3rem solid var(--wheat);
}

.menu .box-container .box h3 {
  color: var(--white);
  font-size: 2.5rem;
  cursor: pointer;
}
.menu .box-container .box h3:hover {
  color: var(--main-color);

  animation: shake 0.8s;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(25px);
  }

  50% {
    transform: translateX(-25px);
  }
  100% {
    transform: translateX(0px);
  }
}

.menu .box-container .box .price {
  color: var(--white);
  font-size: 2.5rem;
  padding: 1rem 0;
  cursor: pointer;
}

.menu .box-container .box .price span {
  color: var(--white);
  font-size: 2rem;
}

.review .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(32rem, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    gap: 1.5rem;
  }
  
  .review .box-container .box {
    background: #222;
    border-radius: 1rem;
    padding: 3rem;
    text-align: center;
    border: 0.2rem solid var(--black);
  }

  .review .box-container .box:hover {
    border: 0.2rem solid var(--wheat);
  }

  .review .box-container .box p {
    font-size: 1.7rem;
    color: var(--light-grey);
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .review .box-container .box a {
    font-size: 2rem;
    color: var(--wheat);
    margin-bottom: 2rem;
  }

  .review .box-container .box .stars i{
    font-size: 2rem;
    color: var(--wheat);
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .review .box-container .box .stars i:hover{
    color: var(--main-color);
  }
  

  .review .box-container .box .user img{
      width: 100%;
      height:10rem;
      width: 10rem;
      border-radius: 100%;
  }
  .review .box-container .box .user .info h3{
    font-size: 2rem;
    color: var(--wheat);
    margin-top: 2rem;
}
.review .box-container .box .user .info h3:hover{  
    color: var(--main-color);
    cursor: pointer;
}

.contact {
  min-height: 80vh;
  align-items: center;
  background: url(../images/contact3.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.contact .content {
  background: rgba(54, 53, 53, 0.541);
  padding: 2rem;
  float: right;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.contact .content h3 {
  font-size: 3rem;
  color: var(--white);
  padding-bottom: 2rem;
}

.contact .content h3 {
  text-transform: uppercase;
  font-size: 3.5rem;
  color: var(--white);
}

.contact .content .input {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: var(--main-color);
  padding: 1rem 0;
  padding-right: 1rem;
  padding-bottom: 2rem;
  line-height: 1.8;
}

.contact .content .input span {
  font-size: 1.8rem;
  color: var(--light-grey);
  padding: 1rem 0;
  padding-right: 1rem;
  padding-bottom: 2rem;
  line-height: 1.8;
}

.contact .content .input input {
  width: 100%;
  color: var(--wheat);
  padding: 2rem;
  text-transform: none;
  background: none;
}
.contact .content .textarea textarea {
  width: 100%;
  color: var(--wheat);
  background: var(--dark-grey);
  resize: none;

}

.footer .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(32rem, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box {
  padding: 1rem 0;
}

.footer .box-container .box .social{
    text-align:center;
  color: var(--wheat);
  padding-top: 2rem;
  }

.footer .box-container .box .social a {
  height: 5.5rem;
  width: 5.5rem;
  line-height: 1rem;
  font-size: 4rem;
  border-radius: 100%;
  border: 0.2rem solid var(--wheat);
  color: var(--wheat);
  margin-right: 3rem;
  text-align: center;
}

.footer .box-container .box .social a:hover {
  background: var(--main-color);
  color: var(--white);
}

.credit {
  text-align: center;
  color: var(--wheat);
  text-transform: uppercase;
  padding-bottom: 3rem;
  padding-top: 2rem;
  font-size: 2rem;
}

.credit span {
  color: var(--main-color);
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 1.5rem 2rem;
  }

  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }

  .header .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    background: var(--white);
    width: 30rem;
    height: calc(100vh - 9.5rem);
  }

  .header .navbar.active {
    right: 0;
  }

  .header .navbar a {
    color: var(--black);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
